<div class="card mb-3">
  <div class="card-header">
    <h6 class="mb-0 text-uppercase">Terms of Rental</h6>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><span>Deposit:</span> $<%= @listing.deposit %></li>
    <li class="list-group-item"><span>Pick-up Spot:</span> <%= @listing.pick_up_location %></li>
    <li class="list-group-item"><span>Condition:</span> Good</li>
  </ul>
</div>