<div class="container mt-5">
  <%= render partial: "listings/listing_main", locals: {show_rent_btn: true, show_requests_btn: true} %>
  <hr>
  <div class="row justify-content-center">
    <div class="col-md-4 col-sm-12">
      <%= render partial: "listings/listing_terms_of_rental" %>
    </div>
    <div class="col-md-8 col-sm-12">
      <div class="card">
        <div class="card-header">
          <h6 class="mb-0 text-uppercase">Comments from Renters
            <% unless @is_mine %>
            <%=  link_to "Add review", new_listing_review_path(@listing.id), class: "btn-small float-right"  %>
            <% end %>
          </h6>
        </div>
        <% if @listing.listing_reviews.empty? %>
          <div class="card text-center">
            <div class="card-body">
              There are no reviews for this listing – be the first one!
            </div>
          </div>
        <% else %>
          <div class="card-columns">
            <% @listing.listing_reviews.each do |review| %>
              <div class="card">
                <div class="card-body px-3 py-2">
                  <div class="card-text text-center">
                    <%= review.review %>
                    <p class="d-inline-block mb-0 text-muted">
                      <% review.rating.times.each do %><i class="fa-solid fa-star"></i><% end %><% (5-review.rating).times.each do %><i class="far fa-star"></i><% end %>
                    </p>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>