<div class="container mt-5">
  <%= render partial: "listings/listing_main", locals: {show_rent_btn: true, show_requests_btn: true} %>
  <hr>
  <div class="row justify-content-center">
    <div class="col-md-4 col-sm-12">
      <%= render partial: "listings/listing_terms_of_rental" %>
    </div>
    <div class="col-md-8 col-sm-12">
      <div class="card">
        <div class="card-header">
          <h6 class="mb-0 text-uppercase">Comments from Renters</h6>
        </div>
        <div class="card-body">
          <div class="card-columns">
            <% %w(Awesome Competitive Charming Dazzling Excellent Incredible).each do |word| %>
              <div class="card">
                <div class="card-body px-3 py-2">
                  <div class="card-text text-center">
                    <%= word %> item!
                    <p class="d-inline-block mb-0 text-muted">
                      <% 5.times.each do %><i class="fa-solid fa-star"></i><% end %>
                    </p>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>