<%= content_tag :h1, current_user.welcome %>

To get started:
<ul>
    <li> Navigate to the Home page to view all available listings.  </li>
    <li> Navigate to the My Listings page to view items you have put up for rent. </li>
    <li> Navigate to the My Rentals page to view current and past rentals. </li>
</ul>
<%= button_to "Sign out", logout_path, method: :delete %>